.vscode/
CA/
CMakeLists.txt

Server/Storage/*
Server/class_template.cpp
Server/Cloud*
Server/CryptoManager.cpp
Server/server
Server/prova

Common/Packet*

Client/.vscode
Client/client
Client/alice/
Client/bob/